.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* App.css */

/* Reset some basic elements */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  font-family: 'Arial', sans-serif;
}

.main-container {
  width: 100%;
  max-width: 400px;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
}

.center-container {
  width: 100%;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.input-box-todo {
  width: 70%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.add-btn {
  padding: 10px 15px;
  border: none;
  background-color: #5cb85c;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 10px;
}

.add-btn:hover {
  background-color: #4cae4c;
}

.app-heading {
  text-align: center;
  color: #333;
  margin-bottom: 10px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-size: 18px;
}

.icons {
  display: flex;
}

.icons i {
  cursor: pointer;
  color: #d9534f;
  margin-left: 10px;
}

.icons i:hover {
  color: #c9302c;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
